<?xml version="1.0"?>
<launch>

 <group>


	  <node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" respawn="false" args="--size 8x6 --square 0.071 --approximate=0.101  right:=/right/image_raw left:=/left/image_raw left_camera:=/left/camera right_camera:=/right/camera" output="screen"/>


</group>

</launch>
