<?xml version="1.0"?>
<launch>

 <group>

	<!--	  
	  <node ns="stereo/left" pkg="image_proc" type="image_proc" respawn="false" name="image_proc" />
	  <node ns="stereo/right" pkg="image_proc" type="image_proc" respawn="false" name="image_proc" />
	-->

	  <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" name="stereo_image_proc" args="_approximate_sync:=True">
	    <!--remap from="stereo_image_proc/parameter_descriptions" to="parameter_descriptions" />
	    <remap from="stereo_image_proc/parameter_updates" to="parameter_updates" /-->
	  </node>


</group>

</launch>
