<?xml version="1.0"?>
<launch>

  <machine name="pc2" address="192.168.0.102" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" user="reza" password="panasonic" default="true"/>

	  <node pkg="sound_play" type="soundplay_node.py" name="soundplay" respawn="false" output="screen"/>
	  <!--include file="$(find cob_light)/ros/launch/light.launch" /-->
	  <rosparam command="load" ns="light_controller" file="$(find cob_light)/ros/launch/$(env ROBOT).yaml"/>
	  <node pkg="cob_light" type="cob_light.py" name="light_node" ns="light_controller" cwd="node" respawn="false" output="screen" />

	  <!-- The camera node -->
	  <node ns="stereo/left" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
	    <param name="ip_address" type="str" value="169.254.236.139"/>
	    <param name="trigger_mode" type="str" value="streaming"/>
	    <remap from="camera/image_raw" to="image_raw"/>
	    <remap from="camera/camera_info" to="camera_info" />
	    <rosparam command="load" file="$(find uh_study)/common/camera_setting.yaml" />
	  </node>

	  <!-- The camera node -->
	  <node ns="stereo/right" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
	    <param name="ip_address" type="str" value="169.254.47.10"/>
	    <param name="trigger_mode" type="str" value="streaming"/>
	    <remap from="camera/image_raw" to="image_raw"/>
	    <remap from="camera/camera_info" to="camera_info" />
	    <rosparam command="load" file="$(find uh_study)/common/camera_setting.yaml" />
	  </node>

	<!--	  
	  <include file="$(find uh_study)/launch/face_detector.launch" />
	  <node ns="stereo/left" pkg="image_proc" type="image_proc" respawn="false" name="image_proc" />
	  <node ns="stereo/right" pkg="image_proc" type="image_proc" respawn="false" name="image_proc" />
	  <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" name="stereo_image_proc" args="_approximate_sync:=True"/>
	-->

</launch>
