<?xml version="1.0"?>
<!--
Runs a Prosilica camera in streaming mode.

Change the ip_address to match your camera.
For help configuring your camera or determining its IP address, see
http://www.ros.org/wiki/prosilica_camera/Tutorials.
-->

<launch>

  <!-- The camera node -->
  <node ns="stereo/right" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
    <param name="ip_address" type="str" value="169.254.47.10"/>
    <param name="trigger_mode" type="str" value="streaming"/>
	<remap from="camera/image_raw" to="image_raw"/>
	<remap from="camera/camera_info" to="camera_info" />
    <!--rosparam command="load" file="$(find uh_simple_scenario1)/launch/cam_settings.yaml" /-->
    <!--rosparam command="load" file="$(find uh_simple_scenario1)/launch/cameraSensorsIni.xml" /-->
  </node>
 

  <node ns="stereo/right" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />
  <!--node pkg="image_view" type="image_view" respawn="false" name="prosilica_viewer_color_right">
    <param name="autosize" type="bool" value="False" />
    <param name="window_name" type="str" value="Prosilica Camera (right)" />
    <remap from="image" to="prosilica/image_color" />
  </node-->

</launch>
