<?xml version="1.0"?>
<launch>
	<include file="$(find cob_bringup)/ros/launch/cob3.launch" />

	<group>
		<machine name="pc1" address="192.168.0.101" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true"/>

		<include file="$(find cob_2dnav)/ros/launch/move_base_ipa.launch" />	
	</group>

</launch>
